html,
body {
    height: 100%;
    font-size: 18px;
    margin: 0 auto;
}

main {
    background-color: #F8F8F8;
    margin: 10px 0;
    min-height:760px;
    overflow:auto;
}

footer {
    background-color: #F8F8F8;
    height: 60px;
    line-height:60px;
    text-align: right;
}

h1 {
    font-size: 20px;
    height: 50px;
    margin:6px;
}

label{
    padding-top: 8px;
}

section{
    border: 1px solid #000;
    float: left;
    margin:8px;
    width: 24%; 
    height: 220px;
}

section p{
    border:1px solid #F8F8F8;
    margin:6px;
}

section ul li{
    border:1px solid #F8F8F8;
    margin-top: 6px;
}

ul{
    list-style-type: square;
    margin: 2px 0 0 27px;
    padding: 0 6px 6px 0;
}

.btn, .btn-warning, .btn-danger{
    border:none;
    font-size:16px;
    float:right;
    margin:1px 6px;
    padding:0 20px;

}

.double {
    width: 99% !important;
    height: 80px !important;
}

.double a{
    display:block;
    font-size:35px;
    text-align: center;
    padding: 15px 0 11px 0;
}

.dropdown-menu{
    width: 680px !important;
}

.errorinput {
    border: 1px solid #f00;
}

.settings{
    min-height: 400px;
}

.settings ul{
    list-style-position:outside;
    
}

.settings a{
    word-break: break-word;
}